
.post-card {

  padding: 1rem;
  border-radius: 0.33rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

  &__cover {
    width: 100%;
    border-radius: 0.33rem;
  }

  &__content {

    margin-top: 1rem;

    &__tag {
      font-size: 0.8rem;
      font-weight: bold;
      color: var(--primary);
      display: block;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: bold;
      display: block;
      margin: 0.5rem 0;
    }

    &__summary {
      color: var(--muted);
    }

    &__author {

      display: flex;
      gap: 0.5rem;

      &__avatar {
        width: 50px;
        border-radius: 50%;
        aspect-ratio: 1;
      }

      &__data {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__name {
          font-size: 1rem;
        }

        &__date {
          font-size: 0.8rem;
          color: var(--muted);
        }
      }
    }
  }
}